// -------------------------------------
//    mixins
// -------------------------------------
@import "./?a=139:css/qg-main/mixins/_bootstrap-breakpoints.scss";

// -------------------------------------
//   base partials
// -------------------------------------
@import "./?a=139:css/qg-main/_variables.scss";
@import "./?a=139:css/qg-main/core/_typography.scss";

// -------------------------------------
//   template components
// -------------------------------------
@import "./?a=139:css/qg-main/asides/_content_aside.scss";


@import "./?a=139:css/qg-main/core/_images.scss";
@import "./?a=139:css/qg-main/core/_index-links.scss";
@import "./?a=139:css/qg-main/core/_links.scss";
@import "./?a=139:css/qg-main/core/_tables.scss";
@import "./?a=139:css/qg-main/tables/_data-table.scss";

// -------------------------------------
//   page models
// -------------------------------------
@import "./?a=139:css/qg-main/pagemodels/_aggregation.scss";


// -------------------------------------
//   content templates
// -------------------------------------
@import "./?a=139:css/qg-main/content-types/_cards.scss";
@import "./?a=139:css/qg-main/content-types/_cross_selling_links.scss";
@import "./?a=139:css/qg-main/content-types/_cut-in-images.scss";
@import "./?a=139:css/qg-main/content-types/_cut-in-images-swe2.scss";
@import "./?a=139:css/qg-main/content-types/_tabs.scss";
@import "./?a=139:css/qg-main/content-types/_checklist.scss";
@import "./?a=139:css/qg-main/content-types/_stand-first.scss";
@import "./?a=139:css/qg-main/content-types/_search-results.scss";
@import "./?a=139:css/qg-main/content-types/_pagination.scss";
@import "./?a=139:css/qg-main/content-types/_status.scss";
// -------------------------------------
//   modules
// -------------------------------------
@import "./?a=139:css/qg-main/modules/_qg-image-gallery.scss";
@import "./?a=228:css/qg-main/modules/_qg-nuance-virtual-assistant.scss";

// -------------------------------------
//   Franchise specific (TODO to be loaded using loader)
// -------------------------------------
/*@import "./?a=139:css/qg-main/_qg-ptss.scss";
*/
// -------------------------------------
//   print
// -------------------------------------




/*@@ Additional adhoc scss can be added here.
 Later create a ticket with developers to add it in the repo @@*/
.aggregation-index .additional-information > .row {
  width: 90%;
}

/*@@ Additional adhoc scss can be added here.
Later create a ticket with developers to add it in the repo @@*/
.aggregation-index .additional-information > .row {
  width: 90%;
}

/*@@Advanced franchise landing page@@*/
#qg-franchise-landing {
  padding: 0;
}


#qg-franchise-landing .row .col-md-6 {
  display:flex;
}
@media (min-width: 992px) {
  #qg-franchise-landing [class^="col-"], .qg-index [class^="col-"] {
    padding-right: 0;
  }
}
#qg-franchise-landing .qg-service-finder h2, #qg-franchise-landing .qg-feature-box h2{
  font-size: 30px;
  font-weight: normal;
}

/*Service finder*/
[data-toggle=qg-service-finder].qg-service-finder {
  padding-bottom: 1em;
  background: #e7f5fe
}

[data-toggle=qg-service-finder].qg-service-finder.active {
  background: #007EB1
}

[data-toggle=qg-service-finder].qg-service-finder.active .qg-sf-search-group {
  color: #fff
}

[data-toggle=qg-service-finder].qg-service-finder .qg-sf-close-wrapper {
  text-align: right
}

[data-toggle=qg-service-finder].qg-service-finder [data-qg-sf-function=results] {
  display: none;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #f6f6f6
}

[data-toggle=qg-service-finder].qg-service-finder .qg-sf-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em
}

[data-toggle=qg-service-finder].qg-service-finder input[data-qg-sf-function=query] {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: .5em;
  border: 1px solid #78BA00;
  color: #222
}

[data-toggle=qg-service-finder].qg-service-finder button[data-qg-sf-function=submit],[data-toggle=qg-service-finder].qg-service-finder input[data-qg-sf-function=submit] {
  padding-top: .5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0;
  background: #78BA00
}

[data-toggle=qg-service-finder].qg-service-finder button[data-qg-sf-function=close],[data-toggle=qg-service-finder].qg-service-finder input[data-qg-sf-function=close] {
  background: 0 0;
  border: none;
  color: #585E62;
  font-size: 1.3em;
  line-height: 1.5em
}


/*Index items*/
#qg-primary-content .qg-index a.qg-index-item {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  background: #333333;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 250ms linear;
}
#qg-primary-content .qg-index a.qg-index-item:hover {
  background: #007eb1;
}
.qg-index a.qg-index-item + .print-link-url {
  display: none;
}
.qg-index a.qg-index-item img {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}
.qg-index a.qg-index-item h2 {
  margin-top: 0;
  border-bottom: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  hyphens: auto;
  word-wrap: break-word;
}

/*Feature items*/
.qg-feature-box {
  position: relative;
  margin-top: 1rem;
  padding-bottom: 1px;
  background: #f6f6f6;
  font-weight: normal;
  font-size: 1rem;
}
.qg-feature-box.qg-no-pad {
  padding: 0;
}
.qg-feature-box.qg-highlight {
  background: #007EB1;
  color: #fff;
}
.qg-feature-box.qg-highlight > a, .qg-feature-box.qg-highlight .qg-link {
  color: #dff8b1;
}
.qg-feature-box.qg-highlight > a:hover, .qg-feature-box.qg-highlight .qg-link:hover {
  color: #fff;
}
.qg-feature-box.carousel {
  font-size: 1.6rem;
}
.qg-feature-box.carousel h2 {
  font-size: 2.2rem;
}
.qg-feature-box img.qg-feature-img {
  width: 100%;
  height: auto;
}
.qg-feature-box > * + p {
  // margin-top: 1.6rem;
  // margin-bottom: 1.6rem;
}
.qg-feature-box > h2, .qg-feature-box > p {
  margin-left: 1rem;
  margin-right: 1rem;
}
#qg-primary-content .qg-feature-box a.qg-link {
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
  display: block;
  bottom: 0;
  width: 100%;
  color: #639800;
  font-size: 1.38rem;
  text-decoration: none;
  text-align: center;
}
.qg-feature-box .qg-link:after {
  content: '\f0a9';
  padding-left: 0.8rem;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.6rem !important;
}
.qg-feature-box .qg-link:hover {
  color: #007eb1;
}

/*qg-grab class*/
.qg-grab {
  background-color: #eef4f6;
  clear: both;
  padding: 1.6rem 3.2rem;
}

/*qg-diagram*/
.qg-diagram {
  width: 100% !important;
  text-align: left !important;
  font-style: normal !important;
}
.qg-diagram img {
  border: none;
  display: block;
  box-shadow: none;
  width: 100% !important;
}

/*print styles for forms*/
@media only print {
  form abbr[title*=required]:after {
    content: ''
  }
  form .label {
    border: none;
  }
}

/* Styling for Sortable Tables - OFAP-202 */
.sortable-table .dataTables_wrapper label {
  font-weight: 400;
}

.sortable-table .dataTables_filter input {
  margin-left: 5px;
}

.sortable-table .dataTables_paginate {
  margin: 24px 0;
}

.sortable-table .dataTables_paginate a {
  display: inline;
  position: relative;
  float: left;
  padding: 8.4px 21.6px;
  line-height: 1.5;
  text-decoration: none;
  color: #13578b;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.sortable-table .dataTables_paginate a:focus,
.sortable-table .dataTables_paginate a:hover {
  z-index: 2;
  color: #0a2d48 !important;
  background-color: #eee;
  border-color: #ddd;
  text-decoration: none !important;
  cursor: pointer;
}

.sortable-table .dataTables_paginate a.disabled,
.sortable-table .dataTables_paginate a.disabled:focus,
.sortable-table .dataTables_paginate a.disabled:hover {
  color: #777 !important;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}


.sortable-table .dataTables_paginate .next:after,
.sortable-table .dataTables_paginate .previous:before {
  font-family: FontAwesome;
}

.sortable-table .dataTables_paginate .previous:before {
  content: "\f137";
  padding-right: .3em;
}

.sortable-table .dataTables_paginate .next:after {
  content:"\f138";
  padding-left: .3em;
}


.leaflet-popup-content h4{
  font-size: 0.7rem !important;
}
