/*Preamble styles*/

.qg-preamble {
    height: 215px;
    margin: -50px -50px 1em -50px;
    position: relative;
    box-sizing: border-box;
    padding: 1px;
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/__data/assets/image/0017/4805/header-background.jpg') no-repeat center/cover;
}


.qg-preamble article {
    margin: 2.5em 3.125em;
    position: absolute;
    bottom: 0;
}

.qg-preamble h1 {
    margin-bottom: 0 !important;
}

.more-info {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/__data/assets/image/0019/4807/header-background-more-info.jpg') no-repeat center/cover;
}

.about-ptss {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/__data/assets/image/0018/4806/header-background-about-ptss.jpg') no-repeat center/cover;
}

.print-content-link {
    color: #fff;
}

.qg-preamble h1 {
    font-size: 2.2em;
    color: #fff;
    padding: 0;
    margin: 0;
}

.qg-preamble p {
    font-size: 1.4em;
    margin-bottom: 0;
    font-weight: 700;
}


@media screen and (max-width: 980px) {
    .qg-preamble {
        margin-top: 0;
    }
}

@media screen and (max-width: 640px) {
    .qg-preamble h1 {
        font-size: 1.6em;
    }
    .qg-preamble p {
        font-size: 1em;
    }
}
