{
  "extends": ["plugin:json/recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": ["warn", { "allow": ["warn", "error", "info", "debug"] }]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion" : 2015
  },
  "globals": {
    "jQuery": true,
    "document": true,
    "window": true,
    "$": true,
    "localStorage": true
  },
}