
#form_email_596.contact-form {
  .sq-form-required-field-note{
    margin-bottom: 1em;
  }
  .abbr.required, abbr[title*="required"]{
    left: 0;
  }
  textarea, input {
    border: 1px solid #ccc;
  }
  .sq-form-error, label.error{
    color: #F85C50;
    font-style: italic;
    font-size: 1em;
    border: none;
  }
  .error{
    border: 1px solid #F85C50;
  }
  .sq-form-question{
    margin-bottom: 1em;
    input {
      padding: 0.3em;
    }
    label{
      margin-bottom: 0;
    }
  }
}
