#qg-primary-content {
  .qg-aside{
    background-color: #e7f5fe;
    padding: 0.5em 3.6em 1.7em 3.6em;
    h2 {
      color: #13578b;
      .fa{
        font-size: 1.3em;
        color: #78ba00;
        margin-right: 0.4em;
      }
    }
  }
}
