.aggregation-index {
     #qg-one-col.wide #qg-primary-content {
         width: 70%;
         margin: 0 auto;
         margin-top: 5.6rem;
     }
     .additional-information {
         background: $qg-grey-light;
         padding-bottom: 3rem;
     }
 }