#aside-carousel.carousel{
  position: relative;
  .carousel-caption{
    position: static;
    padding-left: 0;
    padding-right: 0;
    margin-bottom:0;
    background: none;
    h3 {
      text-align: left;
      color: #000;
    }
    p {
      text-align: left;
      color: #000;
    }
  }

  .carousel-indicators{
    bottom: -34px;
    margin-left: 0;
    left: 0;
    width: 5em;
    li {
      border: 1px solid #000;
      margin-right: 10px;
      &.active{
        background-color: #000;
      }
    }
  }
  .controls-grp {
    position: absolute;
    right: 0;
    bottom: -22px;
    margin-bottom: 0;
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 2px;
      .fa {
        color: #000;
        &.fa-sync {
          &:before{
            content: "\f021";
            font-family: FontAwesome;
          }
        }
      }
      .carousel-control{
        position: inherit;
        left: inherit;
        top: inherit;
        width: inherit;
        right: 0;
        background-image: none;
        color: #000;
        text-shadow: none;
        .icon-prev,.icon-next{
          position: inherit;
        }
        .icon-prev:before{
          content: "\f0d9";
          font-family: FontAwesome;
          position: absolute;
          top: 2px;
          left: 0;
          font-size: 27px;
        }
        .icon-next:before{
          content: "\f0da";
          position: absolute;
          font-family: FontAwesome;
          top: 2px;
          right: 0;
          font-size: 27px;
        }
      }
    }
  }
  }

