a {
	color: $qg-blue-dark;
	&:active, &:hover, &:focus {
		color: $qg-blue-dark;
	}
}
#qg-primary-content, #qg-secondary-content {
	a, a:focus, a:hover, a:link, a:visited {
		text-decoration: underline;
	}
	a:active, a:focus {
		color: #c00 !important;
	}
	a:visited {
		color: #80b;
	}
	a:hover {
		color: #06c;
	}
}
