a {
	color: $qg-blue-dark;
	&:active, &:hover, &:focus {
		color: $qg-blue-dark;
	}
}
#qg-primary-content, #qg-secondary-content {
	.download{
		text-decoration: none !important;
		&:hover{
			text-decoration: none !important;
		}
		.title {
			text-decoration: underline;
		}
	}

	a:not(.print-content-link) {
		&:focus, &:hover, &:link, &:visited {
			text-decoration: underline;
		}
		&:active, &:focus {
			color: #c00;
		}
		&:visited {
			color: #80b;
		}
		&:hover {
			color: #06c;
		}
		.qg-btn, .button, .btn {
			text-decoration: none;
			&:focus, &:hover, &:link, &:visited {
				text-decoration: none;
			}
		}
	}
}
