.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid $tables-processing-border-color;
  text-align: center;
  color: $tables-processing-color;
  font-size: 14px;
  background-color: white;
}
