//Color Palette

$qg-grey-light: #f6f6f6; //Header light grey
$qg-grey: #939393;  //Search input grey
$qg-grey-dark: #444444; //Aggregation card background
$qg-blue: #017eb1; //Header blue
$qg-blue-light: #e7f5fe; //Aside pale blue
$qg-blue-dark: #13578b; //Text blue
$qg-blue-dark-1: #005375; //Feedback button dark blue
$qg-blue-dark-2: #0b2e4c; //Fat footer dark blue
$qg-green: #79ba00; //Icon and button green
$qg-white: #FFFFFF; //Background;
$qg-black: #000000; //Font color