.easyPaginateNav {
    margin: 3rem 2rem;
    clear: both;
    overflow: hidden;
    a {
        padding: 1rem 2rem;
        margin-top: 0.2rem;
        text-decoration: none !important;
        color: $qg-blue-dark;
        float: left;
        border: 1px solid $qg-silver;
        border-right: 0;
        &:first-child {
            &:before {
                content: "\f137";
                padding-right: .7rem;
                font-family: FontAwesome;
            }
        }
        &:last-child {
            border-right: 1px solid $qg-silver;
            &:after {
                content: "\f138";
                padding-left: .7rem;
                font-family: FontAwesome;
            }
        }
    }
}