.qg-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .qg-card {
    color: $qg-white;
    margin-bottom: 4.8rem;
    .content{
      height: 100%;
      background: $qg-grey-dark;
      position: relative;
      overflow: hidden;
      .details{
        padding: 1em;
      }
      @include breakpoint(sm) {
        .qg-pin-bottom {
          position: absolute;
          bottom: 1em;
          width: calc(95% - 1em);
          box-sizing: border-box;
        }
      }
      @include breakpoint(md) {
        .qg-pin-bottom-md {
          position: absolute;
          bottom: 1em;
          width: calc(94% - 1em);
          box-sizing: border-box;
        }
      }
      img {
        width: 100%;
        height: auto;
        max-height: 322px;
        max-width: 492px;
      }
      .btn {
        background: #007EB1;
        display: inline-block;
        width: 100%;
        color: $qg-white;
        border: none;
      }
    }
  }
}
