ol.qg-checklist,ul.qg-checklist, .qg-checklist ul, .qg-checklist ol {
	padding: .5em 0 1.5em;
	margin-top: .5em;
	overflow: hidden;
}
.qg-checklist li {
	background-image: url(/__data/assets/git_bridge/0013/139/images/content-types/checklist-tick.png);
	background-repeat: no-repeat;
	padding-bottom: 10px;
	padding-left: 38px;
	line-height: 1.9em;
} 

@media print {
	.qg-checklist li:before {
		border: 2px solid $qg-grey-light;
		border-radius: 2px;
		content: " ";
		display: inline-block;
		height: 1em;
		margin: 0.3em 0.5em 0 -2em;
		width: 1em;
	}
}
