//This should me decomissioned by CMS-164 Replace SWE2 status classes with SWE3 alert classes
.status{
    margin: 24px 0 24px 0 !important;
    & > .inner {
        margin-left: 32px;
       h3{
         margin-top: 5px;
       }
      ul {
        padding-left: 0;
      }
    }
    &.warn {
      border-color: #f9af71 !important;
    }
    &.success , &.info, &.tip , &.warn, &.fail{
      position: relative;
      border: 0;
      border-left: 5px solid;
      padding: 1em;
      &:before, &:hover:before {
        font-size: 24px;
        margin-left: -14px;
        top: 6px;
        color: #000;
      }
    }
    &.success {
      border-color: #9ebf6d;
    }
    &.info, &.tip{
      border-color: #5bc0de;
    }
  }