//This should me decomissioned by CMS-164 Replace SWE2 status classes with SWE3 alert classes
.status{
    margin: 24px 0 24px 0 !important;
    background-color: #eef4f6;
    & > .inner {
        margin-left: 32px;
       h3{
         margin-top: 5px;
       }
      ul {
        padding-left: 0;
      }
    }
    &:before {
        font-family: FontAwesome;
        padding: 10px;
    }
    &.warn {
      border-color: #f9af71 !important;
      background-color: #ffedde;
      &:before {
        content: "\f071";
      }
    }
    &.success , &.info, &.tip , &.warn, &.fail{
      position: relative;
      border: 0;
      border-left: 5px solid;
      padding: 1em;
      &:before {
        font-size: 24px;
        margin-left: -14px;
        top: 6px;
        color: #000;
      }
    }
    &.success {
      border-color: #9ebf6d;
      background-color: #f2f7ea;
      &:before {
        content: "\f058";
      }
    }
    &.info, &.tip{
      border-color: #1e77aa;
      &:before {
        content: "\f05a";
      }
    }
    &.fail {
      background-color: #feecef;
      border-color: #ea6a7e;
      &:before {
            content: "\f05e";
        }
    }
  }